<div class="header">
    <div class="logo">
        @if(themeService.currentTheme === 'light'){
                 <!-- logo-light -->
        <img src="../../../assets/svgs/logo-dark.svg" alt="logo">
        }@else {
                <!-- logo-dark -->
        <img src="../../../assets/svgs/logo-light.svg" alt="">
        }

    </div>
  <div class="header-content">
    <div class="board-name">
        <p>Platform Lunch</p>
        <span>
            <img src="../../../assets/svgs/icon-chevron-down.svg" alt="down">
        </span>
    </div>

    <div class="button">
        <button class="add">
            <img src="../../../assets/svgs/icon-add-task-mobile.svg" alt="add">
            <span>Add New Task</span>
        </button>
        <img src="../../../assets/svgs/icon-vertical-ellipsis.svg" alt="icon">
    </div>
  </div>
  
</div>