@import "../../../styles/variables";
@import "../../../styles/theme";
@import "../../../styles/mixins";
@import "../../../styles/breakpoints";

.form-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1000; 
  form {
    background-color: var(--header);
    width: 30rem;
    border-radius: 0.375rem;
    padding: 2rem 2rem;
    margin-top: 2rem;

    h6 {
      font-size: $header-l;
      color: var(--text-color);
      font-weight: $font-weight;
      line-height: 1.5rem;
    }

    .title {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;

      label {
        font-size: $header-md;
        color: var(--form-text);
        font-weight: $font-weight;
        margin-bottom: 0.5rem;
      }

      input {
        padding: 0.5rem 1rem;
        width: 26rem;
        height: 2.5rem;
        border: 1px solid rgba(130, 143, 163, 0.25);
        border-radius: 0.25rem;
        background-color: var(--header);

        &:focus {
          outline: none;
          
        }
      }
    }

    // description
    .description {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;

      label {
        font-size: $header-md;
        color: var(--form-text);
        font-weight: $font-weight;
        margin-bottom: 0.5rem;
      }

      textarea {
        padding: 0.5rem 1rem;
        width: 26rem;
        height: 7rem;
        border: 1px solid rgba(130, 143, 163, 0.25);
        border-radius: 0.25rem;
        background-color: var(--header);

        &:focus {
          outline: none;
          
        }
      }
    }

    // subtask
    .subtask {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;

      label {
        font-size: $header-md;
        color: var(--form-text);
        font-weight: $font-weight;
        margin-bottom: 0.5rem;
      }

      .task {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
         

        //task
        .input {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          input {
            padding: 0.5rem 1rem;
            width: 24.0625rem;
            height: 2.5rem;
            border: 1px solid rgba(130, 143, 163, 0.25);
            border-radius: 0.25rem;
            background-color: var(--header);

            &:focus {
              outline: none;
              
            }
          }
          svg {
            cursor: pointer;
          }

        }
        .btn-add-subtask {
          width: 26rem;
          height: 2.5rem;
          margin-top: 0.75rem;
          padding: 0.5rem 9.19rem;
          background-color:var( --secondary);
          border: none;
          border-radius: 1.25rem;
          color: #635FC7;
          font-size: 0.8125rem;
          font-weight: $font-weight;

          &:hover {
            background-color:var(--secondary-hover);
            cursor: pointer;
          }
        }
      }
    }
    //   status

    .status {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      label {
        font-size: $header-md;
        color: var(--form-text);
        font-weight: $font-weight;
        margin-bottom: 0.5rem;
      }
    }
    //createbutton
    .btn-create {
      margin-top: 1.5rem;
      width: 26rem;
      height: 2.5rem;
      border: none;
      background-color:$button-ls;
      border-radius: 1.25rem;
      color: #FFF;
      font-size: 0.8125rem;
      font-weight: $font-weight;

      &:hover {
        background-color: $button-ls-hover;
        cursor: pointer;
      }
    }
  }
}
