@import "../../../styles/variables";
@import "../../../styles/theme";
@import "../../../styles/mixins";
@import "../../../styles/breakpoints";


  
 
  .task {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: fit-content;

      .columns {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 17.5rem;
       

        p{
          font-size: $header-sm;
          font-weight: $font-weight;
          color: var(--sub-text);
          text-transform: uppercase;
          letter-spacing: 0.15rem;
    
          span{
            font-size: $header-xl;
            font-weight: $font-weight;
            color: var(--text-color);
          }

 
      }

      .cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        

        .card{
          display: flex;
          flex-direction: column;
          gap:1rem;
          width: 17.5rem;
          height: fit-content;
          border-radius: 0.5rem;
          padding: 1rem 1rem;
          background-color: var(--header);
          box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.10);
          

          h6{
            font-size: $header-md;
            font-weight: $font-weight;
            color: var(--text-color);
            line-height: 1.5rem;
          }

          span{
            font-size: $header-md;
            color:$sub-text;
            line-height: 1.5rem;

          }
      
          

        }
      }
  
    }
    .column {
        width: 17.5rem;
        // height: 40rem;
        border-radius: 0.375rem;
        background: var(--column);
  
         .cards{
          margin-top: 4rem;
          
        .new-column {
          width: 17.5rem;
          height: 5.5rem;
          display: flex;
          align-items: center;
          justify-items: center;
          padding: 0 3rem;
    
          span{
            font-size: $header-xl;
            font-weight: $font-weight;
            color: var(--sub-text);
            cursor: pointer;
          }
        }
         }
    
    
      }
    }
  
    

   
  

    
  
 
