@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

//font
$font-family: 'Plus Jakarta Sans';

//font size
$header-xl:1.5rem;
$header-l:1.125rem;
$header-md:0.9375rem;
$header-sm:0.75rem;
$body-lg:0.8125rem;
$body-m: 0.75rem;

//font weight
$font-weight:700;

//buttoncolors
$button-ls:#635FC7;
$button-secondary:#635FC7;
$button-red:#EA5555;


//hovereffects
$button-ls-hover:#A8A4FF;
$button-secondary-hover:#A8A4FF;
$button-red-hover:#FF9898;

//subtasks style
$idle-light:#F4F7FD;
$subtask-hover-light:#635FC7;
//dark
$idle-dark:#20212C;
$subtask-hover-dark:#635FC7;

//backgroundColors
$bg-light:#F4F7FD;
$bg-dark:#000112;
$header-light:#FFF;
$header-dark:#2B2C37;

//textColors
$light-text:#000112;
$dark-text:#FFF;

// dropDown
$dropdown-bg-light:#FFF;
$dropdown-bg-dark:#20212C;

//subtext
$sub-text:#828FA3;
$btn-sub:#635FC7;

//line
$line-light:#E4EBFA;
$line-dark:#3E3F4E;

//height
$header-height: 4rem;





