<div class="task-bg">
  <div class="task-details">
     <div class="title">
        <h6>Research pricing points of various competitors and trial different business models</h6>
        <svg (click)="toggleDropdown()" width="11" height="20" xmlns="http://www.w3.org/2000/svg"><g fill="#828FA3" fill-rule="evenodd"><circle cx="2.308" cy="2.308" r="2.308"/><circle cx="2.308" cy="10" r="2.308"/><circle cx="2.308" cy="17.692" r="2.308"/></g></svg>

        @if(isDropdownOpen){
            <div class="open">
                <p>Edit Task</p>
                <span>Delete Task</span>
            </div>
        }
        
     </div>

     <div class="description">
        <p>We know what we're planning to build for version one. Now we need to finalise the first pricing model we'll use. Keep iterating the subtasks until we have a coherent proposition.</p>
     </div>

     <!-- subtask -->
      <div class="subtask">
        <p>Subtasks (2 of 3)</p>
        <div class="s-task">
            <input type="checkbox">
            <span>Research competitor pricing and business models</span>
        </div>
        <div class="s-task">
            <input type="checkbox">
            <span>Research competitor pricing and business models</span>
        </div>
        <div class="s-task">
            <input type="checkbox">
            <span>Talk to potential customers about our proposed solution and ask for fair price expectancy</span>
        </div>

        <!-- status -->
         <div class="cur-status">
            <p>Current Status</p>
            <div class="custom-select">
                <div class="select-box" (click)="toggleDown()">
                  <span>{{ selectedOption}}</span>
                  <svg width="10" height="7" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="#635FC7" stroke-width="2" fill="none" d="m1 1 4 4 4-4"/>
                  </svg>
                </div>
                @if (isOpen) {
                  <div class="dropdown">
                    @for (option of options; track option) {
                      <div class="option" (click)="selectOption(option)">
                        {{ option }}
                      </div>
                    }
                  </div>
                }
              </div>
         </div>



      </div>
  </div>
</div>
