<div class="bg-bg">
    <form action="">
  <h6>Add New Board</h6>
  <!-- for edit -->
  <h6>Edit Board</h6>
<div class="name">
<label for="">Name</label>
  <input type="text" id="name" placeholder="e.g. Web Design">
</div>

<!-- columns -->
 <div class="columns">
    <label for="">Columns</label>
    <div class="col">
        <input type="text" placeholder="Column 1">
        <svg width="15" height="15" xmlns="http://www.w3.org/2000/svg"><g fill="#828FA3" fill-rule="evenodd"><path d="m12.728 0 2.122 2.122L2.122 14.85 0 12.728z"/><path d="M0 2.122 2.122 0 14.85 12.728l-2.122 2.122z"/></g></svg>
    </div>
    <!-- second -->
    <div class="col">
        <input type="text" placeholder="Column 1">
        <svg width="15" height="15" xmlns="http://www.w3.org/2000/svg"><g fill="#828FA3" fill-rule="evenodd"><path d="m12.728 0 2.122 2.122L2.122 14.85 0 12.728z"/><path d="M0 2.122 2.122 0 14.85 12.728l-2.122 2.122z"/></g></svg>
    </div>

 </div>

 <!-- buttons -->

 
    <div class="butts">
        <button class="add-col" type="add">+ Add New Column</button>
    <button class="create" type="submit">Create New Board</button>
    <!-- for edit -->
    <button class="create" type="save">Save Changes</button>
    </div>
 

    </form>
</div>