@import "../../../styles/variables";
@import "../../../styles/theme";
@import "../../../styles/mixins";
@import "../../../styles/breakpoints";

.sidebar {
  background-color: var(--header);
  width: 18.75rem;
  height: calc(100vh - 6rem);
  border-right: 1px solid var(--line);

  .boards {
    h6 {
      color: var(--sub-text);
      font-size: $header-sm;
      font-weight: $font-weight;
      text-transform: uppercase;
      margin-left: 1.5rem;
    }

    .board {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;
      width: 17.25rem;
      height: 3rem;
      transition: all 0.3s ease;

      &:hover {
        cursor: pointer;
        background-color: $button-ls-hover;
        border-radius: 0rem 6.25rem 6.25rem 0rem;
      }

      &:active {
        background-color: $button-ls;
        border-radius: 0rem 6.25rem 6.25rem 0rem;
      }

      span {
        margin-left: 1rem;
      }

      p {
        color: $sub-text;
        font-size: $header-md;
        font-weight: $font-weight;
      }
    }

    .create-board {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 1.5rem;
      margin-left: 1rem;
      cursor: pointer;

      p {
        color: #635fc7;
        font-size: $header-md;
        font-weight: $font-weight;
      }
    }
    .close-sidebar {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 2.5rem;
      width: 17.25rem;
      height: 3rem;
      border-radius: 0rem 6.25rem 6.25rem 0rem;
      transition: all 0.3s ease;

      &:hover {
        cursor: pointer;
        background-color: var(--secondary);
        opacity: 0.8;
      }

      svg {
        margin-left: 1rem;
        fill: #635fc7;
      }

      span {
        color: #635fc7;
        font-size: $header-md;
        font-weight: $font-weight;
      }
    }
    
  }
}
.open-sidebar {
  position: absolute;
  bottom: 6rem;

  img{
    cursor: pointer;
  }
}
