@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/theme";
@import "../../../styles/breakpoints";


.del-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 

    .modal{
        background-color: var(--header);
        width: 30rem;
        height: 4rem;
        border-radius: 1rem;
    }
}